@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400|Yeon+Sung&display=swap');

.body {
    font-family: Montserrat, sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: Montserrat, sans-serif;
}

.navbar {
    justify-content: center;
    background: whitesmoke;
    border-bottom: 2px solid #bdbdbd;
}

.navbar-brand {
    font-family: 'Yeon Sung', cursive;
    font-size: 30px;
    color: #555;

}

.navbar-brand:hover {
    color: #555;
}


#work-in-progres p, #contact p {
    font-weight: 300;
    font-size: 20px;
}

#contact h2 {
    border-bottom: 1px dashed #dedede;
    padding-bottom: 15px;
}

header {
    position: relative;
    z-index: 10;
}

footer {
    padding: 30px 0;
    background: whitesmoke;
}

.opacity {
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.3;
    z-index: 1;
}

.carousel-image {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover !important;
}

